@model EditAccountModel

@{
    ViewData["Title"] = "Edit Account";
}

@if ((bool)ViewData["DuplicateUsernameError"]! || (bool)ViewData["DuplicateEmailError"]! ||
   (bool)ViewData["BasicInformationChangeError"]! || (bool)ViewData["PasswordChangeError"]! ||
   (bool)ViewData["BankCardCreationFailure"]! || (bool)ViewData["BankCardUpdateFailure"]! ||
  (bool)ViewData["BankCardDeletionFailure"]! || (bool)ViewData["TicketDeletionFailure"]!)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                @if ( (bool)ViewData["DuplicateUsernameError"]!){
                    <div>There is another user with the given username.</div>
                }
                else if ( (bool)ViewData["DuplicateEmailError"]!){
                    <div>There is another user with the given email.</div>
                }
                else if ((bool)ViewData["BasicInformationChangeError"]!){
                    <div>
                        Something went wrong while updating your account's basic information.                 
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if ((bool)ViewData["PasswordChangeError"]!){
                    <div>
                        Something went wrong while updating your account password.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if ((bool)ViewData["BankCardCreationFailure"]!)
                {
                    <div>
                        Unfortunately your bankCard could not be added.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if ((bool)ViewData["BankCardUpdateFailure"]!)
                {
                    <div>
                        Unfortunately your bankCard information could not be updated.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if ((bool)ViewData["BankCardDeletionFailure"]!)
                {
                    <div>
                        Unfortunately your bankCard could not be removed from your account.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if((bool)ViewData["TicketDeletionFailure"]!){
                    <div>
                        Unfortunately your ticket could not be refunded.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
else if ((bool)ViewData["BasicInformationChangeSuccess"]! || (bool)ViewData["PasswordChangeSuccess"]! || 
         (bool)ViewData["BankCardCreationSuccess"]! || (bool)ViewData["BankCardUpdateSuccess"]! ||
         (bool)ViewData["BankCardDeletionSuccess"]! || (bool)ViewData["TicketDeletionSuccess"]!)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                @if ( (bool)ViewData["BasicInformationChangeSuccess"]!){
                    <div>Your account's basic information has been updated successfully!</div>
                }
                else if ((bool)ViewData["PasswordChangeSuccess"]!)
                {
                    <div>Your account password has been updated successfully!</div>
                }
                else if ((bool) ViewData["BankCardCreationSuccess"]!){
                    <div>Your bankCard has successfully been added to your account!</div>
                }
                else if ((bool)ViewData["BankCardUpdateSuccess"]!)
                {
                    <div>Your bankCard information has successfully been updated!</div>
                }
                else if ((bool)ViewData["BankCardDeletionSuccess"]!)
                {
                    <div>Your bankCard has successfully been removed from your account!</div>
                }
                else if ((bool)ViewData["TicketDeletionSuccess"]!){
                    <div>Your ticket has successfully been refunded!</div>
                }
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<div method="post" class="shadow p-4" style="background-color:white;">
    <h2 class="text-center mb-4">User Account</h2>
    <div class="row">
        <form class="col-4" asp-controller="Account" asp-action="ChangeBasicAccountSettings">
            <div class="row">
                <h4 class="text-center">Basic Account Settings </h4>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.AccountBasicSettingsViewModel.Username">
                        <i class="fa-solid fa-user me-2"></i>Account Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="@Model.AccountBasicSettingsViewModel.Username"
                               value="@Model.AccountBasicSettingsViewModel.Username" readOnly>
                        <a class="btn btn-outline-primary" id="usernameButton" 
                        onclick="toggleInputField('AccountBasicSettingsViewModel_Username', 'usernameButton')">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.AccountBasicSettingsViewModel.Username" class="text-danger"></span>
                </div>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.AccountBasicSettingsViewModel.PhoneNumber">
                        <i class="fa-solid fa-phone me-2"></i>Account Phone Number</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" asp-for="@Model.AccountBasicSettingsViewModel.PhoneNumber"
                               value="@Model.AccountBasicSettingsViewModel.PhoneNumber" readOnly>
                        <a class="btn btn-outline-primary" id="phoneNumberButton"
                           onclick="toggleInputField('AccountBasicSettingsViewModel_PhoneNumber', 'phoneNumberButton')">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.AccountBasicSettingsViewModel.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.AccountBasicSettingsViewModel.AccountType">
                        <i class="form-label"></i>Account Type</label>
                    <input type="text" class="form-control" asp-for="@Model.AccountBasicSettingsViewModel.AccountType"
                           value="@Model.AccountBasicSettingsViewModel.AccountType" readOnly>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary">Confirm Changes</button>
                </div>
            </div>
        </form>
        <div class="col-4">
            <div class="row">
                <h4 class="text-center">Sensitive Account Settings </h4>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.ChangePasswordModel.OldPassword">
                        <i class="fa-solid fa-lock me-2"></i>Account Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" asp-for="@Model.ChangePasswordModel.OldPassword"
                               value="@Model.ChangePasswordModel.OldPassword" readOnly>
                        <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.ChangePasswordModel.OldPassword" class="text-danger"></span>
                </div>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.ChangeEmailModel.OldEmail">
                        <i class="fa-solid fa-envelope me-2"></i>Account Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" asp-for="@Model.ChangeEmailModel.OldEmail"
                               value="@Model.ChangeEmailModel.OldEmail" readOnly>
                        <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changeEmailModal">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.ChangeEmailModel.OldEmail" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h5 class="text-start">Account Tickets</h5>
            <ul class="list-group mb-4" id="ticketsList">
                @foreach (Ticket ticket in Model.AccountBasicSettingsViewModel.Tickets)
                {
                    <li class="list-group-item">
                        <div class="d-flex align-items-center justify-content-between">
                            Ticket ID: @ticket.Id <br>
                            Title: @ticket.MovieProjection!.Movie!.Title <br>
                            Date: @ticket.MovieProjection!.StartingTime<br>
                            Seats: @ticket.NumberOfSeats & Refund Price: @ticket.ReservationRefundPrice € 
                            <div>
                                <a class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#deleteTicketModal-@ticket.Id">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteTicketModal-@ticket.Id" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteTicketModalTitle-@ticket.Id">Refund Ticket Dialog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: left;">
                                            Are you sure you want to refund this ticket?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                                            <form asp-action="RefundTicket" asp-controller="Account">
                                                <input name="projectionId" value="@ticket.MovieProjectionId" hidden/>
                                                <input name="ticketId" value="@ticket.Id" hidden/>
                                                <input name="numberOfSeats" value="@ticket.NumberOfSeats" hidden/>
                                                <button type="submit" class="btn btn-danger ms-1">Confirm Refund</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Account BankCards</h5>
                <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#createBankCardModal">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <ul class="list-group" id="bankCardsList">
                @foreach (BankCard bankCard in Model.AccountBasicSettingsViewModel.BankCards)
                {
                    <li class="list-group-item">
                        <div class="d-flex align-items-center justify-content-between">
                            Card Number: @bankCard.CardNumber
                            <div>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal-@bankCard.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal-@bankCard.Id">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-@bankCard.Id" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalTitle-@bankCard.Id">Remove BankCard Dialog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: left;">
                                            Are you sure you want to remove this bankcard?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                                            <form asp-controller="Account" asp-action="RemoveBankCard">
                                                <input name="bankCardId" value="@bankCard.Id" hidden/>
                                                <button type="submit" class="btn btn-danger ms-1">Confirm Removal</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<!-- Modal To Change Password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <form id="changePasswordForm" method="post" asp-controller="Account" asp-action="ChangePassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordTitle">Change Password Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <div class="container">
                        @* TODO maybe add a warning here *@
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label asp-for="ChangePasswordModel.OldPassword" class="form-label">Old Password</label>
                                <input asp-for="ChangePasswordModel.OldPassword" value="" class="form-control" type="password">
                                <span asp-validation-for="ChangePasswordModel.OldPassword" class="text-danger"></span>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="ChangePasswordModel.NewPassword" class="form-label">New Password</label>
                                <input asp-for="ChangePasswordModel.NewPassword" class="form-control" type="password" />
                                <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="ChangePasswordModel.ConfirmNewPassword" class="form-label">Confirm New Password</label>
                                <input asp-for="ChangePasswordModel.ConfirmNewPassword" class="form-control" type="password">
                                <span asp-validation-for="ChangePasswordModel.ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal to Change Email Address -->
<div class="modal fade" id="changeEmailModal" tabindex="-1">
    <form id="changeEmailForm" method="post" asp-controller="Account" asp-action="RequestChangeAccountEmail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeEmailTitle">Change Email Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <div class="container">
                        @* TODO maybe add a warning here *@
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label asp-for="ChangeEmailModel.OldEmail" class="form-label">Old Email</label>
                                <input asp-for="ChangeEmailModel.OldEmail" type="text" class="form-control" readOnly>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="ChangeEmailModel.NewEmail" class="form-label">New Email</label>
                                <input asp-for="ChangeEmailModel.NewEmail" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal To Add BankCard -->
<div class="modal fade" id="createBankCardModal" tabindex="-1">
    <form id="createBankCardForm" method="post" asp-action="createBankCard" asp-controller="Account">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createBankCardModalTitle">Add BankCard Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label asp-for="@Model.BankCard.CardNumber" class="form-label">Card Number</label>
                                <input asp-for="@Model.BankCard.CardNumber" type="text" class="form-control">
                                <span asp-validation-for="@Model.BankCard.CardNumber" class="text-danger"></span>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="@Model.BankCard.CardHolderName" class="form-label">CardHolder Name</label>
                                <input asp-for="@Model.BankCard.CardHolderName" type="text" class="form-control">
                                <span asp-validation-for="@Model.BankCard.CardHolderName" class="text-danger"></span>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label asp-for="@Model.BankCard.CVC" class="form-label">CVC</label>
                                    <input asp-for="@Model.BankCard.CVC" type="text" class="form-control">
                                    <span asp-validation-for="@Model.BankCard.CVC" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="@Model.BankCard.ExpirationDate" class="form-label">ExpirationDate</label>
                                    <input asp-for="@Model.BankCard.ExpirationDate" type="month" class="form-control">
                                    <span asp-validation-for="@Model.BankCard.ExpirationDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add BankCard</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modals To Edit BankCard -->
@foreach (BankCard bankCard in Model.AccountBasicSettingsViewModel.BankCards)
{
    <div class="modal fade" id="editModal-@bankCard.Id" tabindex="-1">
        <form id="editBankCardForm-@bankCard.Id" method="post" asp-action="editBankCard" asp-controller="Account">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalTitle-@bankCard.Id">Edit BankCard Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: left;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label asp-for="@Model.BankCard.CardNumber" class="form-label">Card Number</label>
                                    <input asp-for="@Model.BankCard.CardNumber" value="@bankCard.CardNumber" type="text" class="form-control">
                                    <span asp-validation-for="@Model.BankCard.CardNumber" class="text-danger"></span>
                                </div>
                                <div class=" col-12 mb-3">
                                    <label asp-for="@Model.BankCard.CardHolderName" class="form-label">CardHolder Name</label>
                                    <input asp-for="@Model.BankCard.CardHolderName" value="@bankCard.CardHolderName" type="text" class="form-control">
                                    <span asp-validation-for="@Model.BankCard.CardHolderName" class="text-danger"></span>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label asp-for="@Model.BankCard.CVC" class="form-label">CVC</label>
                                        <input asp-for="@Model.BankCard.CVC" type="text" value="@bankCard.CVC" class="form-control">
                                        <span asp-validation-for="@Model.BankCard.CVC" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="@Model.BankCard.ExpirationDate" class="form-label">ExpirationDate</label>
                                        <input asp-for="@Model.BankCard.ExpirationDate" value="@bankCard.ExpirationDate.ToString("yyyy-MM")" 
                                        type="month" class="form-control">
                                        <span asp-validation-for="@Model.BankCard.ExpirationDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <input asp-for="@Model.BankCard.Id" value="@bankCard.Id" hidden/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update BankCard</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        //edit button functionality
        function toggleInputField(inputId, buttonId) {
            alert(inputId);
            alert(buttonId);
            let inputField = document.getElementById(inputId);
            let button = document.getElementById(buttonId);

            if (inputField && button) {
                if (inputField.readOnly) {
                    inputField.removeAttribute("contenteditable");
                    //inputField.readOnly = false;
                    button.innerHTML = '<i class="fa-solid fa-check"></i>';
                } else {
                    inputField.setAttribute("contenteditable", "true");
                    //inputField.readOnly = true;
                    button.innerHTML = '<i class="fa-solid fa-pencil"></i>';
                }
            }
        }
    </script>
}

